.boards {
  display: grid;
  flex: 1 1;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 18px;
  max-width: var(--width);
  width: 100%;
  overflow-y: scroll;
  align-content: start;
  margin: auto;
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2px;
  align-content: start;
}

.board.selected {
  box-shadow: 0 0 0 4px white;
  background: white;
}

.board.solved {
  filter: contrast(0.5) brightness(0.25);
}

.letter {
  margin: 1px;
  height: 17px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.letter.miss {
  background-color: var(--letter-miss);
}

.letter.guess {
  background-color: var(--letter-guess);
}

.letter.wrong-position {
  background-color: var(--letter-wrong-possition);
}

.letter-itself {
  color: white;
}

.letter-preview {
  color: var(--preview-color);
}

.input-letter {
  position: sticky;
  bottom: 0;
  background-color: var(--input-letter);
  color: white;
}

@media screen and (min-width: 400px) {
  .letter {
    height: 20px;
    font-size: 18px;
  }
}

@media screen and (min-width: 500px) {
  .letter {
    height: 25px;
    font-size: 23px;
  }
}

@media screen and (min-width: 600px) {
  .letter {
    height: 27px;
    font-size: 25px;
  }
}

:root {
  --letter-miss: #5c5c70;
  --letter-guess: #49d088;
  --letter-wrong-possition: #eabf3e;
  --input-letter: #2e2e38;
  --preview-color: #8f8fa3;
}
