.header {
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid;
  width: 100%;
  background: var(--dark-gray);
}

.header-title {
  width: 100%;
  font-size: 24px;
}

.simple-title {
  width: 100%;
  font-size: 28px;
  padding: 10px;
}

.back-link {
  height: 30px;
}

.row1 {
  max-width: var(--width);
  width: 100%;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

.row2 {
  display: flex;
  justify-content: stretch;
  width: 100%;
  max-width: var(--width);
}

.row3 {
  display: flex;
  gap: 1px;
  max-width: var(--width);
  width: 100%;
}

.filler {
  flex-grow: 1;
}

.good {
  color: var(--green);
}

.bad {
  color: var(--red);
}

.guess-indicator-button {
  background-color: var(--medium-gray);
  color: white;
  border: none;
  padding: 4px 0;
  font-size: 8px;
  flex: 1 1;
}

.guess-indicator-button.done {
  background-color: var(--letter-guess);
  color: black;
}

.guess-indicator-button.current {
  background-color: white;
  color: black;
}

:root {
  --green: #12bc00;
  --red: #fb3636;
  --dark-gray: #17171c;
  --medium-gray: #454554;
}
