.header {
  display: flex;
  flex-direction: column;
  position: sticky;
  align-items: center;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid;
  width: 100%;
  background: var(--dark-gray);
}

.header-title {
  font-size: 24px;
}

.row1 {
  max-width: var(--width);
}

.row2 {
  display: flex;
  justify-content: stretch;
  width: 100%;
  max-width: var(--width);
}

.row3 {
  max-width: var(--width);
}

.filler {
  flex-grow: 1;
}

.good {
  color: var(--green);
}

.bad {
  color: var(--red);
}

:root {
  --green: #12bc00;
  --red: #fb3636;
  --dark-gray: #17171c;
}
