#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100%;
}

.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: var(--width);
  justify-content: stretch;
  align-items: center;
}
