:root {
  --width: 600px;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  background: black;
  color: white;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
